{
    "files": [
        {
            "entity": "test_extension_case",
            "file": "test/data/testExtensionCase.CSV",
            "keys": ["header1"]
        },
        {
            "entity": "test_tab_delim",
            "file": "test/data/testTabDelim.tsv",
            "keys": ["header1"],
            "delimiter": "\t"
        },
        {
            "entity": "test_quote_char",
            "file": "test/data/testQuoteChar.tsv",
            "keys": ["header1"],
            "delimiter": "\t",
            "quotechar": "\""
        },
        {
            "entity": "test_encodings",
            "file": "test/data/testEncodings.tsv",
            "keys": ["header1"],
            "delimiter": "\t",
            "quotechar": "\"",
            "encoding": "utf-16-le"
        }
    ],
    "disable_collection": true
}